:root {
    --bg: #f1f1f1;
    --fg: #141414;
    --yellow: #fde400;
    --magenta: #cf0255;
    --green: #39c817;
    --bg-sh: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYGD4z4AMAA4EAQAvGW0PAAAAAElFTkSuQmCC);
    --font_sans: "Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    --font_mono: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

img {
    max-width: 100%;
}

pre {
    white-space: pre-wrap; 
}

p {
    font-size: 1em;
    line-height: 1.25;
    font-family: sans-serif;
}

h1,h2,h3,h3,h4,h5,h6 {
    font-family: var(--font_sans);
}

blockquote {
    font-style: italic;
    font-family: sans-serif;
}

#quote {
    font-style: italic;
    font-size: 0.8em;
    font-family: Helvetica, Arial,sans-serif;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow:hidden;
    cursor: pointer;
}
#quote:hover {
    white-space:normal;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.8em;
}

body {
    max-width: 900px;
    margin: 1rem auto;
    background-color: var(--bg)
}
@media (min-width: 1px) and (max-width: 800px){
    body {
        margin: 1rem 1rem 1rem 1rem;
    }
}

header {
    display: flex;
}
header div {
    background-color: var(--bg);
}
main {
    background-color: var(--bg);
}

.border{
    border: 0.2em solid var(--fg);
    margin: 0.6rem auto;
}

.sombra {
    position: relative;
}

.sombra::after {
    background: var(--bg-sh);
    background-position: right bottom;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: -1;
}

#hmenu { 
    flex: 1;
    align-items: flex-end;
    padding-left: 1rem;
    overflow: hidden;
}


.cont{
    background-color: transparent;
    min-width: 70px;
}
.logo {
    margin-right: 1rem;
}
.logo img {
    width: 3rem;
    height: 100%;
}


article{
    padding: 2em 2em 0em 2em;
}


/*START NAV APPEARANCE */
main nav {
    padding: 2em 1em 2em 1em;
}
main nav ul {
    list-style-type: none;
    margin: 0;
    margin-top: -1em;
    padding: 0;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
}
main nav ul li {
    display: flex;
    padding: 0.25rem 1rem;
    font-size: 0.9em;
    font-weight: bold;
   /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main nav span {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font_sans);
    white-space: normal;
    overflow: auto;
    padding-top: 2px;
    margin-right: 1rem;
}
@media (min-width: 1px) and (max-width: 800px){
    main nav span {
        white-space: nowrap;
    }
}

main nav time {
    margin-left: auto;
    font-weight: 400;
    font-size: 0.8em;
    font-family:'Courier New', Courier, monospace;
    display: block;
}
/*END NAV APPEARANCE */

/*ARTICLE FOOT*/
.article-foot{
    padding: 0 1em 0.5em 1em;
    display: flex;
}
#pagets{
    float:left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.68em;
    margin-right: 0.6em;
}
@media (min-width: 600px){
    #pagets {
        padding-right: 50%;
    }
}
#totop {
    float: right;
}
/*ARTICLE FOOT*/

/*START FOOTER APPEARANCE */
footer {
    margin-top: 3rem;
}
#author {
    float: left;
    font-size: 0.7em;
}
#social {
    float: right;
}
/*START FOOTER APPEARANCE */


.yh:hover{
    background-color:var(--yellow);
}




/*START HYPERLINK APPEARANCE */
a {
    color: var(--fg);
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
}
article a[href*='/']:hover {
    background-color:var(--yellow);
}
article a[href*='//']:hover {
    background-color:var(--green);
}
article a[href*='/']::before {
    content: "{";
}
article a[href*='/']::after {
    content: "}";
}
article a[href*='//']::before {
    content: "[";
}
article a[href*='//']::after {
    content: "]";
}
::selection {
    background: var(--magenta);
    color: var(--bg);
}
/*END HYPERLINK APPEARANCE */