{# templates/pages/portfolio/software/index.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>Software Systems</h1>
{% endblock article %}

{% block navigation %}
<a href="../"><li class="yh">
  <img src="{{url_for('static', filename='icons/return.svg')}}" height="20em" width="20em">
  &nbsp;/...&nbsp;
  <span>- Return </span>
  <time>Project end-date</time>
</li></a>
<a href="entrenamos.uy.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;entrenamos.uy&nbsp;
    <span>- Full-featured website for a virtual sports platform (concept)</span>
    <time>11/11/2021</time>
</li></a>
<a href="xwing.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;X-WingSimulator&nbsp;
    <span>A simple MMO simulator.</span>
    <time>10/10/2021</time>
</li></a>
<a href="steam.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Steam-CLI&nbsp;
    <span>A CLI-based gaming platform (concept).</span>
    <time>2/6/2021</time>
</li></a>
{% endblock navigation %}

{% block cdate %}19th of February 2022{% endblock cdate %}

