{# templates/about/index.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>About Toyos.dev</h1>
<p> 
    This website serves two purposes. Firstly, it is a platform for showcasing my professional endeavors and interests, allowing people to learn more about my work. 
    You just have to visit <a href="/" class="yh">toyos.dev</a>, where you can take a look at my projects with a few clicks. 
    Moreover, it allows me to present myself in a more personal way than a resume would.
<p>
    Secondly, this site is a little counter-movement against the current internet trend of centralization. Where most web traffic is handled by a handful of domains.
    Maintaining a personal website can be seen as having a small bastion of freedom for self-expression. 
    I hope to encourage fellow internet users to explore the broader possibilities of the World Wide Web, it's up to us to make it an intresting place.
</p>
{% endblock article %}

{% block navigation %}
<a href="../"><li class="yh">
    <img src="{{url_for('static', filename='icons/return.svg')}}"  height="20em" width="20em">
    &nbsp;/...&nbsp;
    <span>- Return </span>
</li></a>
<a href="colophon.html"> <li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Colophon&nbsp;
    <span>- Technical information about toyos.dev</span>
    <time>{{cnt.dates["pages/about/colophon.html"]}}</time>
</li></a>
<a href="changelog.html"> <li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Changelog&nbsp;
    <span>- Toyos.dev's changelog</span>
    <time>{{cnt.dates["pages/about/changelog.html"]}}</time>
</li></a>
{% endblock navigation %}

{% block cdate %}19th of February 2022{% endblock cdate %}

