{# templates/pages/portfolio/cs/basuraGA.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>CS Projects</h1>
{% endblock article %}

{% block navigation %}
<a href=".."><li class="yh">
  <img src="{{url_for('static', filename='icons/return.svg')}}" height="20em" width="20em">
  &nbsp;/...&nbsp;
  <span>- Return </span>
  <time>Project end-date</time>
</li></a>
<a href="custoDPP.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Custo DPP&nbsp;
    <span>- A decentralized traceability system.</span>
    <time>10/10/2024</time>
</li></a>
<a href="onthebitcmplxiteratedmem.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;On the Bit Complexity of Iterated Memory&nbsp;
    <span>- Research project.</span>
    <time>10/10/2024</time>
</li></a>
<a href="velib.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Vélib’ Métropole Analytics&nbsp;
    <span>- Data Exploration, Analysis and Monitoring of Parisian Velib' bike system.</span>
    <time>10/1/2024</time>
</li></a>
<a href="aiai.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Kolmogorov-CNN&nbsp;
    <span>- Kolmogorov complexity of trained convolutional neural networks.</span>
    <time>20/06/2023</time>
</li></a>
<a href="gutenbergNLP.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Gutenberg-NLP&nbsp;
    <span>- Classification of books by subject by using NLP and Machine Learning techniques.</span>
    <time>8/12/2022</time>
</li></a>
<a href="raytracingKNN.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;RayTracing-KNN&nbsp;
    <span>- Study of a KNN algorithm that takes advantage of GPU's ray tracing cores.</span>
    <time>20/7/2022</time>
</li></a>
<a href="basuraGA.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;RecolecciónBasura-GA&nbsp;
    <span>- An evolutionary algorithm for assigning garbage collection routes.</span>
    <time>12/12/2021</time>
</li></a>
<a href="{{url_for('static', filename='files/gmres.pdf')}}"><li class="yh">
    <img src="{{url_for('static', filename='icons/pdf.svg')}}" height="20em" width="20em">
    &nbsp;GMRES&nbsp;
    <span>- A comparative analysis between octave backslash and the GMRES algorithm for solving sparse linear systems. </span>
    <time>1/8/2020</time>
</li></a>
<a href="{{url_for('static', filename='files/heatPDE.pdf')}}"><li class="yh">
    <img src="{{url_for('static', filename='icons/pdf.svg')}}" height="20em" width="20em">
    &nbsp;HeatEquation PDE&nbsp;
    <span>- A study of a finite method for solving the Heat PDE. </span>
    <time>20/10/2020</time>
</li></a>
{% endblock navigation %}

{% block cdate %}19th of February 2022{% endblock cdate %}

