{# templates/pages/portfolio/cs/basuraGA.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>N particles</h1>
<p> 
    ...
</p>
<p>
    ...    
</p>
<p>
    ...    
</p>
<div>
    <p>
        ...
    </p>
    <ul>
        <li>GPU programming.</li>
        <li>..</li>
        <li>...</li>
        <li>Algorithm analysis.</li>
    </ul>
</div>
{% endblock article %}

{% block navigation %}
<a href="."><li class="yh">
  <img src="{{url_for('static', filename='icons/return.svg')}}" height="20em" width="20em">
  &nbsp;/...&nbsp;
  <span>- Return </span>
</li></a>
{% endblock navigation %}

{% block cdate %}26th of February 2024{% endblock cdate %}

