{# templates/pages/portfolio/cs/basuraGA.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>Vélib’ Métropole: Data Exploration, Analysis and Monitoring</h1>
<p> 
    Data Analytics of the Velib' Metropole service. This project was developed as part of the "Big Data Architecture" course at <a href="https://www.ip-paris.fr">IP Paris</a>.
</p>
<p>
    Among another colleague, we designed a data pipeline to leverage the <a href="https://www.velib-metropole.fr/donnees-open-data-gbfs-du-service-velib-metropole">Velib public API</a>, providing real-time insights into the status of Velib stations through computation of statistics and analysis.
</p>
<p>
    To achieve this, we used Apache Kafka to ingest the data, Apache Spark to process it and Plotly to visualize the results. The project was developed in Scala, and the final results presented in an online dashboard.
</p>
<div>
    <p>
        This project was a great opportunity to gather experience in:
    </p>
    <ul>
        <li>Big data infrastructure.</li>
        <li>Apache Spark.</li>
        <li>Apache Kafka.</li>
        <li>Scala programming language.</li>
        <li>Data dashboards with Plotly.</li>
    </ul>
</div>
<h2>Gallery</h2>
<p>
Velib stations are everywhere in Paris. Using the API we were able to get real-time analytics of the status of the stations. Here we present two tidbits of the results we obtained.
</p>
<img src="{{url_for('static', filename='imgs/velib/ex.jpg')}}">
<p>
How is the average Velib station composed? We can see that the average station will have around 62% empty docks, 14% with mechanical bikes and the 23% with electric bikes.
</p>
<img src="{{url_for('static', filename='imgs/velib/dist.jpg')}}">
We can also check which stations have been malfunctioning lately. In this map, we can see the stations that have been offline for more than 24 hours.
<img src="{{url_for('static', filename='imgs/velib/off.jpg')}}">
{% endblock article %}

{% block navigation %}
<a href="."><li class="yh">
  <img src="{{url_for('static', filename='icons/return.svg')}}" height="20em" width="20em">
  &nbsp;/...&nbsp;
  <span>- Return </span>
</li></a>
{% endblock navigation %}

{% block cdate %}10th of January 2024{% endblock cdate %}

