{# templates/notes/index.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>Notes</h1>
<p> 
    These are notes from courses and books that you might find useful. 
    I often take notes in Markdown while studying course materials or write down key insights shared by my professors during lectures.
     After purchasing a tablet with a stylus, I transitioned to handwritten notes, 
     as they offer a more versatile and creative format. 

     The images included in these notes are sourced from the original materials I used for studying.
      All copyrights and credits belong to their respective authors.
    </p>
<p>
    Most notes are in Spanish. I believe translating concepts or ideas from one language to another is an excellent exercise. 
    Constructing sentences that convey the same meaning in different languages helps you explore concepts from 
    multiple perspectives and assess your understanding more deeply.
</p>
<p>
    <i>Disclaimer: I take no responsibility for the accuracy or quality of these notes. 
        Apologies for any mistakes or inaccuracies you might encounter.
    </i>
</p>
    
{% endblock article %}

{% block navigation %}
<a href="../"><li class="yh">
    <img src="{{url_for('static', filename='icons/return.svg')}}"  height="20em" width="20em">
    &nbsp;/...&nbsp;
    <span>- Return </span>
</li></a>
<a href="cs156.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Machine learning&nbsp;
    <span>- Caltech CS156: Learning from data, a Machine Learning course.</span>
    <time>24/3/2023</time>
</li></a>
<a href="redes.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Computer Networking: A Top-down Approach&nbsp;
    <span>- Book notes.</span>
    <time>1/12/2021</time>
</li></a>
<a href="fbd.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Fundamentals of Databases&nbsp;
    <span>- Database Fundamentals course @ Udelar. </span>
    <time>1/12/2021</time>
</li></a>
<a href="fp.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Functional Programming&nbsp;
    <span>- The craft of functional programming, FP lessons. </span>
    <time>13/3/2022</time>
</li></a>
<a href="ae.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Evolutionary Algorithms&nbsp;
    <span>- Evolutionary Algorithms course @ Udelar.</span>
    <time>1/9/2021</time>
</li></a>
</li></a>
<a href="gpgpu.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;General-purpose computing on graphics processing units&nbsp;
    <span>- GPGPU course @ Udelar.  </span>
    <time>20/7/2022</time>
</li></a>
<a href="iis.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Introduction to Software Engineering&nbsp;
    <span>- Software Engineering course @ Udelar. </span>
    <time>20/7/2022</time>
</li></a>
<a href="tprog.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Programming Workshop&nbsp;
    <span>- "Taller de programación" course @ Udelar. </span>
    <time>11/9/2021</time>
</li></a>
<a href="unix.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;The Unix Programming Environment&nbsp;
    <span>- Book notes. </span>
    <time>1/1/2020</time>
</li></a>
{% endblock navigation %}

{% block cdate %}19th of February 2022{% endblock cdate %}

