{# templates/pages/portfolio/cs/basuraGA.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}


{% block article %}
<h1>The UNIX Programming Environment</h1>
<p> 
   Text...
</p>
<p>
   More text...
</p>
<img src="{{url_for('static', filename='imgs/unix/g1034.png')}}" alt="ej"></p>
{% endblock article %}

{% block navigation %}
<a href="."><li class="yh">
  <img src="{{url_for('static', filename='icons/return.svg')}}" height="20em" width="20em">
  &nbsp;/...&nbsp;
  <span>- Return </span>
</li></a>
<a href="{{url_for('static', filename='files/cs156.pdf')}}"><li class="yh">
    <img src="{{url_for('static', filename='icons/pdf.svg')}}" height="20em" width="20em">
    &nbsp;CS156&nbsp;
    <span>- Course notes.</span>
    <time>24/3/2023</time>
</li></a>
{% endblock navigation %}

{% block cdate %}26th of March 2023{% endblock cdate %}

