{# templates/pages/index.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>Guillermo Toyos-Marfurt: Computer Scientist, Engineer, and Researcher</h1>
<p> 
    <bold>Hello!</bold> I'm Guillermo, a computer scientist and engineer from Uruguay.
    This is my personal spot on the internet where you can find some of my work,
    thoughts, and other things I find interesting.
</p>
<p>
    I’m currently pursuing a PhD at the <a href="https://www.ip-paris.fr/en">Institut Polytechnique de Paris</a>, 
    focusing on distributed systems. My research aims to make distributed systems more accessible,
    reliable, and efficient. Specifically, I work on developing innovative consensus algorithms 
    and state machine replication protocols for blockchain systems.
</p>
{% endblock article %}

{% block navigation %}

<a href="/publications/"> <li class="yh">
    <img alt="Publications icon" src="{{url_for('static', filename='icons/folder.svg')}}" height="20em" width="20em">
    &nbsp;Publications&nbsp;
    <span>- My published papers and articles.</span>
    <time datetime='{{cnt.dates["pages/publications/index.html"]}}'>{{cnt.dates["pages/publications/index.html"]}}</time>
</li></a>
<a href="/portfolio/"><li class="yh">
    <img alt="Portfolio icon" src="{{url_for('static', filename='icons/folder.svg')}}" height="20em" width="20em">
    &nbsp;Portfolio&nbsp;
    <span>- Publicly available projects I’ve developed. </span>
    <time datetime='{{cnt.dates["pages/portfolio/index.html"]}}'>{{cnt.dates["pages/portfolio/index.html"]}}</time>
</li></a>
<a href="/notes/"><li class="yh">
    <img alt="folder" src="{{url_for('static', filename='icons/folder.svg')}}" height="20em" width="20em">
    &nbsp;Notes&nbsp;
    <span>- Notes from various courses and books. </span>
    <time datetime='{{cnt.dates["pages/notes/index.html"]}}'>{{cnt.dates["pages/notes/index.html"]}}</time>
</li></a>
<a href="/gardens/" style="display: none;" id="gardenlink"><li class="yh">
    <img alt="folder" src="{{url_for('static', filename='icons/folder.svg')}}" height="20em" width="20em">
    &nbsp;Garden&nbsp;
    <span>- Toyos.dev's jardin.</span>
    <time datetime='{{cnt.dates["pages/gardens/index.html"]}}'>{{cnt.dates["pages/gardens/index.html"]}}</time>
</li></a>
<a href="/about/"> <li class="yh">
    <img alt="folder" src="{{url_for('static', filename='icons/folder.svg')}}" height="20em" width="20em">
    &nbsp;About&nbsp;
    <span>- About this website.</span>
    <time datetime='{{cnt.dates["pages/about/index.html"]}}'>{{cnt.dates["pages/about/index.html"]}}</time>
</li></a>
{% endblock navigation %}

{% block cdate %}19th of February 2022{% endblock cdate %}

{% block footer_extra %}
<script src="{{url_for('static', filename='scripts/garden.js')}}"></script>
{% endblock footer_extra %}