{# pages/templates/_footer.html #}
<footer>
    <hr>
    <div id="author">
        <p>Guillermo Toyos Marfurt © 2022</p>
    </div>
    <div id="social">
        <a href="https://www.linkedin.com/in/guillermo-toyos-marfurt/"><img src="{{url_for('static', filename='icons/linkedin.svg')}}" height="40em" width="40em"></a>
        <a href="https://www.github.com/Gtoyos"><img src="{{url_for('static', filename='icons/github.svg')}}" height="40em" width="40em"></a>
        <a href="https://webring.xxiivv.com/#toyos.dev" target="_blank"><img src="{{url_for('static', filename='icons/webring.svg')}}" height="40em" width="40em" alt="XXIIVV webring"></a>
    </div>
</footer>
<script src="{{url_for('static', filename='scripts/global.js')}}"></script>