{# templates/pages/gardens/index.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>Garden</h1>
<p> 
    Welcome to my garden! This is a place where I store things that I want to document, share, work on or preserve.
</p>
<p> 
    I'm happy you've found this place. I've deindexed the gardens from the landing page because I'm using this domain as a professional portfolio and this section is
    not professional at all. It's good to know that curious eyes can still find this place.
<p>
    In some way, this section can be thought as a <i>mélange</i> of resources but with some structured order provided
    by the hyperlinks on each document. The <i>jardins</i> is a place for the internet explorers that
    love exploring this kind of remote websites.
</p>
<p>
    I'm glad you've found this place <i>internaute</i>. I hope you find something that catches
    your eye. Feel free to linger and explore!
</p>
{% endblock article %}

{% block navigation %}
<a href="../"><li class="yh">
    <img src="{{url_for('static', filename='icons/return.svg')}}"  height="20em" width="20em">
    &nbsp;/...&nbsp;
    <span>- Return </span>
</li></a>
<a href="sites.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;Sites&nbsp;
    <span>- Intresting websites.</span>
    <time>{{cnt.dates["pages/gardens/sites.html"]}}</time>
</li></a>
<a href="animaux/"><li class="yh">
    <img src="{{url_for('static', filename='icons/folder.svg')}}" height="20em" width="20em">
    &nbsp;Animaux&nbsp;
    <span>- Fluffy friends.</span>
    <time>{{cnt.dates["pages/gardens/animaux/index.html"]}}</time>
</li></a>
<a href="watashi.html"><li class="yh">
    <img src="{{url_for('static', filename='icons/file.svg')}}" height="20em" width="20em">
    &nbsp;私&nbsp;
    <span>- A little bit of japanese.</span>
    <time>{{cnt.dates["pages/gardens/watashi.html"]}}</time>
</li></a>
{% endblock navigation %}

{% block cdate %}19th of February 2022{% endblock cdate %}

