{# templates/pages/gardens/index.html #}

{% extends "base.html" %}

{% block head_extra %}
{% endblock head_extra %}

{% block article %}
<h1>Sites</h1>

<p>Here is a list of websites with interesting content I have found on the web.</p>

<ul>
    <li><a href="
        https://pages.stern.nyu.edu/~wstarbuc/Writing/Fussy.htm">Fussy Professor 
        Starbuck's Cookbook of Handy-Dandy
         Prescriptions for Ambitious Academic Authors</a>. An article with tips
        on how to write great scientific articles.</li>
    <li><a href="https://www.cs.virginia.edu/~robins/YouAndYourResearch.html">
        You and Your Research</a>. A transcript of a talk by Richard Hamming on being a researcher.</li>
    </a></li>
    <li><a href="https://phdcomics.com/comics/">PhD comics.</a></li>
    <li><a href="https://www.opte.org/the-internet">An amazing visualization of the internet.</a></li>
</ul>
{% endblock article %}

{% block navigation %}
<a href="../"><li class="yh">
    <img src="{{url_for('static', filename='icons/return.svg')}}"  height="20em" width="20em">
    &nbsp;/...&nbsp;
    <span>- Return </span>
</li></a>
{% endblock navigation %}
{% block cdate %}30th of November 2024{% endblock cdate %}
